---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A curated collection of music links" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/styles.css">
		<title>fm</title>
	</head>
	<body>
		<main>
			<h1><a class="path" href="/">fucking music</a><span style="margin: 0 1px;">/ </span>fm.</h1> 
			<p>
				Might be a radio someday... for now. its just albums I like.
			</p>
			<br>
			<h3>Albums</h3>
			<hr>
			<nav>
				<ul>
					<li><span class="bigger"></span><a href="https://barberarchive.bandcamp.com/album/--5" target="_blank" rel="noopener">本能</a> Macroblank <span class="secondary">#barberbeats</span></li>
				</ul>
			</nav>
		</main>
	</body>
</html>
