---
export const prerender = true;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A curated collection of music links" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/styles.css">
		<title>fm</title>
	</head>
	<body>
		<main>
			<h1>fucking music.</h1>
			<p>
				I can't stand spotify.<br>
				I can't stand apple music.<br>

				Music needs to be owned, not behind an algorithm.
			</p>
			<br>
			<br>
			<h3>Links</h3>
			<hr>
			<nav>
				<ul>
					<li><span class="bigger">/player</span><a href="/fm" rel="noopener">fm</a> <span class="secondary"> some music player</span></li>
				</ul>
			</nav>
		</main>
	</body>
</html>
