---
import { ViewTransitions } from "astro:transitions"
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rotations</title>
        <ViewTransitions />
    </head>
    <body>
        <slot />
    </body><script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("/sw.js")
        }
    </script>
</html>
