---
import PlayerView from "../components/PlayerView.tsx"
import "../styles/global.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Rotations</title>
    </head>
    <body>
        <div class="w-full min-h-screen px-5 pt-8 pb-12 bg-[#0B0B0B]">
            <PlayerView client:load />
        </div>
        <script>
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker.register("/sw.js")
            }
        </script>
    </body>
</html>
