---
import Header from "../components/Header"
import PlayerViewMockup1 from "../components/PlayerViewMockup1"
import "../styles/global.css"
---

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Mockup 1 - fucking music</title>
    </head>
    <body class="bg-[#0B0B0B]">
        <div class="px-5 pt-8">
            <Header client:load />
        </div>
        <main class="h-[calc(100vh-100px)]">
            <PlayerViewMockup1 client:load />
        </main>
    </body>
</html>
