---
import Layout from "../layouts/Layout.astro"
import PlaylistsView from "../components/PlaylistsView.tsx"
---

<Layout title="More - Fucking Music">
    <div class="w-full min-h-screen">
        <PlaylistsView client:load />
    </div>
</Layout>
