---
import "../../styles/global.css"
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="A curated collection of music links" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Less - Fucking Music</title>
    </head>
    <body style="background: #0B0B0B">
        <slot />
    </body>
</html>
